body {
    color: green;
    font-size: 20px;
    text-align: center;
	background-image: url("http://www.psdgraphics.com/file/squares-background.jpg");
}



#first-paragraph {
	font-family: Comic Sans MS;		
font-size: 16px;
color: red; 
}


