p {
    color: green;
    font-size: 20px;
    text-align: center;
}
#first-paragraph {
	font-family: Comic Sans MS;		
font-size: 16px;
color: red; 
}
body {
	
    background-image: url("https://img.ifcdn.com/images/475bd4937f219bbebcb7ba899976ef20616f0f39bcd634c43785383d113a3b43_3.jpg");
}

