p {
    color: green;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: green;
    font-size: 20px;
    text-align: center;
}

h4 {
    color: green;
    font-size: 20px;
    text-align: center;
}

#first-paragraph {
	font-family: Comic Sans MS;		
font-size: 16px;
color: red; 
}
body {
	
    background-image: url("http://www.psdgraphics.com/file/squares-background.jpg");
}

